/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* START MIXINS */
// default shadow for home hero
@mixin text-shadow ($string: 1px 1px 1px rgba(0, 0, 0, 1)) {
  text-shadow: $string;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/* END MIXINS */

body {
  padding-top: 50px;
}

/* START GAME PAGE */
.question-type {

}
.question-text-wrap {
	.question-text {

	}
}
.timer-bar-wrap {

}
.timer-text {

}
.player-list {
	//margin-left: 3em;
	li {
		margin: 0 1em
	}
	.new-player-wrap {

	}
	.new-player {

	}
}
.pseudo-checkbox-wrap {
	.pseudo-checkbox {
		margin: 0 auto;
		display: block;
		height: 100px;
		width: 100px;
		background: url(https://i.imgur.com/rNu8cOr.png) center center no-repeat;
		&:hover {
			cursor: pointer;
		}
	}
	.pseudo-checkbox.checked {
		background: url(https://i.imgur.com/eZ6FhH2.png) center center no-repeat;
	}
}
.score-wrap {
	.score {
		
	}
}
.game-select-list {
	margin-top: 1em;
}
.next-question-btn {
	//padding: inherit 3em;
}
/* END GAME PAGE */












